html,
body {
  height: 100%;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  text-align: center;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #00e676;
}

.mat-form-field {
  font-family: "Lato", sans-serif !important;
}
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 400 20px/32px lato, sans-serif;
}
